.reserved-date {
  height: 100% !important;
  width: 100% !important;
  padding: 0;
  text-align: center;
  vertical-align: text-top;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
}
