<div class="container">
  <div class="card">
    <h5 class="card-header">Calendario</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-bordered">
        <thead>
          <tr class="text-nowrap">
            <th>#</th>
            <th *ngFor="let day of days">{{ day.title }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let time of times">
            <td scope="row" style="width: 20px; padding: 0; text-align: center">
              {{ time.title }}
            </td>
            <td
              *ngFor="let day of days"
              style="padding: 0; width: 75px; height: 110px"
            >
              <app-reserved-date
                *ngIf="
                  (turns | eventsInDay : day.title : time.title) === 'Reservado'
                "
              ></app-reserved-date>
              <app-available-date
                *ngIf="
                  (turns | eventsInDay : day.title : time.title) !== 'Reservado'
                "
                [day]="day.title"
                [time]="time.title"
                (addTurnEmiter)="addTurn($event)"
              ></app-available-date>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
