.myapp-new-padding-dialog {
  .divider-section {
    margin: 0;
    //  margin-left: 24px;
    //  margin-right: 24px;
    //  margin-top: 10px;
  }
  .mat-dialog-title {
    font-size: 16px !important;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 10px 24px;
  }
  // .mat-dialog-container {
  //   padding: 0;
  // }
  // .mat-dialog-actions {
  //   padding: 10px 24px;
  //   margin-bottom: 0;
  //   box-shadow: 0px -3px 9px #00000029;
  // }
  .mat-dialog-content {
    padding-top: 15px;
    //   width: 100%;
    //   margin: 0;
    //   padding: 10px 24px;
  }
}
